alphafold3_db
alphafold3_db/
model/
src/alphafold3/constants/converters/ccd.pickle
dcgm/
output/
__pycache__/
results/
.vscode/
example/
src/alphafold3/constants/converters/chemical_component_sets.pickle
env/
model
build.log
